* {
  font-family: 'Heebo', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

h3 {
  font-weight: bold;
}

h6 {
  font-weight: normal;
  text-align: left;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  background-color: rgb(226, 200, 221);
}

/* Contenedor Principal */
.grid-container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Logo */
.anchor-logo{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  grid-area: header;
  width: 110px;
  height: 110px;
  align-items: center;
  position: relative;
  border-radius: 15px;

}

.logo {
  -webkit-animation: rotation 4s infinite linear;
  -moz-animation: rotation 4s infinite linear;
  -ms-animation: rotation 4s infinite linear;
  -o-animation: rotation 4s infinite linear;
  animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
  }

  to {
      -webkit-transform: rotateY(359deg);
      -moz-transform: rotateY(359deg);
      -ms-transform: rotateY(359deg);
      -o-transform: rotateY(359deg);
      transform: rrotateY(359deg);
  }
}

@media (min-width: 780px){
  .anchor-logo{
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .navbar-expand-lg {
      -ms-flex-flow: row nowrap !important;
      flex-flow: row nowrap !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
    }
    .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row !important;
      flex-direction: row !important;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
    }
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none !important;
    }}

.navbar {
  border-radius: 15px 15px 0px 0px;
}

/*     Barra de navegacion       */
.navbar1 {
  grid-area: navbar1;
  font-size: medium;
  padding: 0px;
  margin: 0px;
}

.nav-link {
  transition: transform 1s;
}

/* Pasar por arriba pntero del mouse */
.nav-link:hover { 
  font-weight: bolder;
  transform: scale(1.08);
}
/*     FIN Barra de navegacion       */

.main {
  grid-area: main;
  font-family: 'Heebo', sans-serif;
  gap: 10px;
}

.footer {
  grid-area: footer;
}

.carousel {
  grid-area: slide;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar1" 
    "slide"
    "main" 
    "footer";
}

/* Estilo del Contenido */
.contenido {
  display: grid;
  font-family: 'Heebo', sans-serif;
  gap: 10px;
  grid-template:
    "slide"
    "Nosotros"
    "video";
  text-align: center;
}

.nosotros {
  grid-area: nosotros;
}

/*.video {
  grid-area: video;
  text-align: center;
} */

/* Start: Video Responsive */
.video {
  grid-area: video;
  text-align: center;
  overflow:hidden;
  padding-bottom:200px; /* Adecua este valor para controlar la altura del video */
  height:0;
  position:relative;
}
.video iframe{
  left:0;
  top:0;
  height:90%;
  width:90%;
  position:relative;
}
/* End: Video Responsive */

/*      Grid contenido index      */
.contenido {
  grid-template:
    "nosotros"
    "video";
  font-size: small;
  }

@media (min-width: 580px) {
  .contenido {
    grid-template:
      "nosotros"
      "video";
    font-size: large;
  }
  .video {
    padding-bottom:300px; /* Adecua este valor para controlar la altura del video */
  }
}

@media (min-width: 780px) {
  .contenido {
    grid-template:
      "nosotros  video";
  }
  .video {
    padding-bottom:300px; /* Adecua este valor para controlar la altura del video */
  }
}

/*      FIN Grid contenido index      */

.contenidoArticulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del header */
.item {
  display: flex;
  margin: 20px 20px;
  height: 35rem;
}

/* ID - No se usan para estilos*/
.footer {
  font-size: 16px;
  letter-spacing: 3.4px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  background-color: #6c757d;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* ------------------ TARJETAS GIRATORIAS ------------------ */
.flip-container {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.85, 1);
}

.card h3,
card p {
  display: block;
}

.card p,
.card button {
  color: #FFF;
}

/* GIRA HORIZONTAL */
.flip-container:hover .card {
  transform: rotateY(180deg);
}

.frente,
.dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.frente {
  display: flex;
  background-color: #dd5599;
  color: #fff;
}

.dorso {
  background-color: #dd5599;
  color: #faebd7;
  /*transform: rotateX(180deg);*/
  transform: rotateY(180deg);
  text-align: center;
}

.dorso p {
  font-size: 0.75em;
}

.dorso button {
  display: block;
  width: 60%;
  margin: 2rem auto 0;
  border: 2px solid #fff;
  background: transparent;
  padding: 1em;
  text-transform: uppercase;
}

.dorso button:hover {
  color: #ffffff;
  border-color: #ffffff;
  font-weight: bold;
}

/* ------------------ FIN TARJETAS GIRATORIAS ------------------ */

/*      Estilo Botón WhatsApp      */

img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius:10px !important;
  }
  img.btn-whatsapp:hover{
  border-radius:10px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
  -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  transition-duration: 1s;
  } 

/*      FIN Estilo Botón WhatsApp      */

/*      FORMULARIO DE CONTACTO         */
.forContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500px;

}

.forContacto>input {
    outline: none;
    border: none;
    height: 32px;
    padding: 0px 5px;
    text-transform: uppercase;
    border-bottom: 3px solid #000000;
    font-family: 'Lato', sans-serif;
}

.forContacto>textarea {
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    padding: 5px 5px;
    text-transform: uppercase;
    border-bottom: 3px solid #5f127c;
    font-family: 'Lato', sans-serif;
}

.forContacto>button {
    background-color: #dd5599;
    border: none;
    padding: 5px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.forContacto>button:active {
    transform: scale(1.02);
}

/*      FIN Formulario de contacto         */

.Ubicacion {
  align-items: center;
}