$gris: #6c757d;
$colorTarjeta: #dd5599;
$colorTituloTarjeta: #ff0080;
$colorFondo: rgb(226, 200, 221);
$colorBlanco: #ffffff;

$colors: (
	"encabezado": $gris,
	"tarjeta": $colorTarjeta,
	"tituloTarjeta": $colorTituloTarjeta,
    "fondo": $colorFondo,
    "blanco": $colorBlanco
)